* {
  font-family: 'Montserrat', sans-serif !important;
}

.accordionPersonalAMR {
  text-transform: uppercase;
}

.accordionPersonalAMR h2 {
  background-color: #990000;
  color: #ffffff !important;
  border-color: #1a1a1a !important;
  font-size: calc(10px + (14 - 10) * ((100vw - 300px) / (1600 - 300))) !important;
}

.accordionPersonalAMR h2:active {
  background-color: #990000;
  color: #ffffff !important;
  border-color: #1a1a1a !important;
  font-size: calc(10px + (14 - 10) * ((100vw - 300px) / (1600 - 300))) !important;
}

.accordionPersonalAMR div {
  background-color: #1a1a1a !important;
  border: 2px solid #1a1a1a !important;
  color: #ffffff;
  font-size: calc(10px + (14 - 10) * ((100vw - 300px) / (1600 - 300))) !important;
}
