* {
  font-family: 'Montserrat', sans-serif !important;
}

.detailsContainer .detailsWrapper {
  margin: 0 auto;
  height: 440px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  background-image: url("/MEDIA/01_DETAILS.JPG");
  border-top: 4px solid #1a1a1a;
  border-bottom: 4px solid #1a1a1a;
}

.detailsContainer .detailsWrapper ul {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.detailsContainer .detailsWrapper ul li {
  width: 80px;
  height: 80px;
  border: 3px solid #990000;
  display: block;
  margin-top: 10px;
  background-image: url("/MEDIA/001.JPG");
  background-size: cover;
}

.detailsContainer .detailsWrapper ul li:nth-child(odd) {
  background-image: url("/MEDIA/002.JPG");
}
