* {
  font-family: "Montserrat", sans-serif;
}

input:focus {
  outline: none !important;
}

.searchInput {
  padding: 20px 15px;
  display: none;
}

.menuContainer {
  overflow: hidden;
  background-color: #ffffff;
  margin-bottom: 30px;
}

.menuContainer a {
  float: left;
  display: block;
  color: #000000;
  text-align: center;
  padding: 20px 15px;
  text-decoration: none;
  font-size: 17px;
}

.menuContainer .logo {
  display: block;
  font-size: 30px;
  padding: 15px 15px;
  text-align: center;
  stroke: #ffffff;
  stroke-width: 30px;
}

.menuContainer a.logo:hover {
  border: 1px solid #000000;
  display: block;
  font-size: 30px;
  text-align: center;
  color: #ffffff;
  border: 1px solid #000000;
}

.menuContainer .menuContainerRight {
  float: right;
  text-decoration: none;
}

.menuContainer .menuContainerRight a i {
  font-size: 30px;
}

.menuContainer a:hover {
  background-color: #990000;
  color: #ffffff;
  border: 1px solid #000000;
  stroke: #000000;
  stroke-width: 30px;
}

.menuContainer .burguer {
  display: none;
  text-shadow: 2px 2px #990000;
}

.menuContainer:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  color: #000000;
  width: 80%;
  left: calc(10% - 5px);
  right: 50%;
  border-top: 2px solid #e6e6e6;
  margin-top: 100px;
}

@media screen and (max-width: 900px) {
  .menuContainer a:not(:first-child) {
    display: none;
  }
  .menuContainer a.burguer {
    float: right;
    display: block;
  }
  /* AMR | REMOVE NAVBAR MENU PSEUDO ELEMENT [AFTER] WHEN ON MOBILE MODE */
  .menuContainer:after {
    content: none;
  }
}

@media screen and (max-width: 900px) {
  .menuContainer.responsive {
    position: relative;
  }
  .menuContainer.responsive .burguer {
    position: absolute;
    right: 0;
    top: 0;
  }
  .menuContainer.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

#loginName1 {
  display: block;
}

#loginName2 {
  display: none;
}
